@font-face{
    font-family: lalezar;
    src: url(font/Lalezar-Font/OTF/Lalezar-Regular.otf);
}

body{
    margin: 0;
    font-family: lalezar;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F5F7;
}

.wrapper{
    width: 75%;
    margin-top: 1.5rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    color: #72748E;
}

.nav{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.logo{
    width: 10rem;
    height: 5rem;
}

.nav-left img{width: 1.5rem;}

.search{margin-left: 2rem;}

.intro{
    display: flex;
    margin-top: 5rem;
}

h1{
    color: #2A2D53
}

.intro img{
    width: 50rem;
    height: 25rem;
}

.container1{
    text-align: right;
    padding-top: 2rem;
}

.container1 p{
    color: #A8AEB9;
    margin-bottom: 5rem;
}

.get-started{
    text-decoration: none;
    color: white;
    background-color: #4A6DFB;
    padding: .45rem 3rem;
    border-radius: .45rem;
}

.courses{
    display: flex;
    margin-top: 10rem;
    justify-content: center;
    color: #72748E;
    text-align: center;
    gap: 1rem;
}

.box img{
    width: 8rem;
    height: 8rem;
}

.box{
    background-color: #FFF;
    padding: 0 5rem;
    border-radius: 1.25rem;
    box-shadow: 15px 14px 24px 0px rgba(0, 0, 0, 0.08);
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facts{
    display: flex;
    margin-top: 10rem;
    gap: 8rem;

}

.facts img{
    object-fit: cover;
    width: 35rem;
    height: 28rem;
}

.comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.comments img{
    width: 90%;
    height: 30rem;
}

.full-courses{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 10rem;
}

.full-courses img{
    width: 25rem;
    height: 25rem;
}

.row{
    display: flex;
    gap: 1rem;
    color: #72748E;
}

.item{
    background-color: white;
    border-radius: .7rem;
    width: 15rem;
    height: 2rem;
    text-align: center;
    box-shadow: 15px 14px 24px 0px rgba(0, 0, 0, 0.08); 
}

.footer{
    background-image: url(media/footer.png);
    height: 25rem;
    background-size: 100% 25rem;
    display: flex;
    margin-top: 10rem;
    box-shadow: 15px 14px 24px 0px rgba(0, 0, 0, 0.08); 
}

.social-media img{
    width: 1.5rem;
    padding-left: 2rem;
}

.column1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.down{
    width: 95%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
}

.column2{
    margin-top: 3rem;
    color: #72748E;
    text-align: right;
}

#hamburger{display: none;}
.goup{display: none;}

@media only screen and (max-width: 80rem) {
    .wrapper{width: 95%;}

    .logo{
        width: 7rem;
        height: 3.5rem;
    }

    .nav{gap: 1rem;}

    .nav-left img{width: 1rem;}

    .search{margin-left: 1.5rem;}

    .intro img{
        width: 25rem;
        height: 15rem;
        margin-top: 3rem;
    }

    h1{font-size: 2rem;}

    .container1{padding-top: 0;}
    
    .container1 p{
        margin-bottom: 1.5rem;
    }
    .get-started{
        padding: .35rem 2.5rem;
        border-radius: .35rem;
    }
    .box{
        padding: 0 3.5rem;
        border-radius: 1.25rem;
        width: 3rem;
    }
    .box img{
        width: 4.5rem;
        height: 4.5rem;
    }
    .facts{
        margin-top: 8rem;
        gap: 5rem;
    
    }
    .facts img{
        width: 28rem;
        height: 20rem;
    }
    .comments img{
        width: 90%;
        height: 20rem;
    }
    .full-courses img{
        width: 20rem;
        height: 20rem;
    }
    .row{gap: .5rem;}

    .item{
        width: 10rem;
        height: 2.5rem; 
    }
    .footer{
        height: 20rem;
        background-size: 100% 20rem;
    }
    .column2{
        margin-top: 0rem;
    }
}

@media only screen and (max-width: 50rem) {
    .nav-right{display: none;}
    .intro{flex-direction: column;}
    .container1{text-align: center;}

    .courses{
        flex-direction: column;
        align-items: center;
    }
    .box{
        padding: 2rem 5rem;
        border-radius: 1.25rem;
        width: 8rem;
    }
    .box img{
        width: 8rem;
        height: 8rem;
    }
    .facts{
        flex-direction: column;
        margin-top: 7rem;
        gap: 1rem;
        align-items: center;
    }
    .facts img{
        width: 25rem;
        height: 20rem;
    }
    .order{order: -1;}

    .comments img{
        height: 15rem;
        width: 100%;
    }
    .full-courses{display: none;}

    .footer{
        height: 7rem;
        background-size: 100% 7rem;
        align-items: center;
    }
    .column2{display: none;}
    .logo2{display: none;}

    .down{
        height: 2rem;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    .goup{
        display: flex;
        justify-content: right;
    }
    #goup{
        border: none;
        background-image: url(media/goup.svg);
    }
    #hamburger{display: flex;}
}